
hr{
    margin-top: 40px;
    border: none;
    border-top: 2px solid #fff;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}
.footer{
    background-color: #596e79;
    text-align: center;
    width:100%;
    height: auto;
    padding: 20px;
    overflow: hidden;
    
}

.footer-link{
    font-size: 50px;
    font-weight: 100;
    color: white;
    margin-bottom: 40px
}

.social-icons {
    margin-top: 20px;
}

.social-icons a {
    margin: 0 10px;
    color: #fff;
    text-decoration: none;
}

.social-icons a:hover {
    color: #ccc;
}
.footer p{
    color: white;
    text-align: center;
    padding: 10px;
    margin-top: 20px;
}
@media screen and (max-width:960px){
    .footer-link{
        font-size: 25px;
       
    }

}

